*{
  
    padding:0;
    margin:0;
    
    --color:#e7f1f6;
    --dal:#414b51;
    }
    
    .nav{
        width:100%;
        padding:0 5%;
        background-color: black;
        color: white;
        margin:auto;
        border:var(--border);
        overflow:auto;
        border:2px solid black;
        height: 7vh
      
        
    }
    .name{
        height: 100vh;
    }
    .navlogo{
        position: relative;
        float :left;
        margin:.5rem 1.5rem;
    
    }
    .navdiv{
       position: relative;
        font-size:large;
        float :right;
        margin:.5rem 2vw;
      
      
    }
    .navdiv:hover:after{
        content: "";
        border-bottom: 2px solid ;
        width: 0%;
      display: block;
      animation: navdown .75s linear 0s infinite alternate  ;
    }
    @keyframes navdown {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
        
    }